{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>
            Test page
        </h1>
        <v-alert color="{{ vueLayout ? 'success' : 'warning' }}" :dismissible="true" close-label="close">
            {{ vueLayout ? 'Loaded by fetch' : 'Loaded by page request' }}
        </v-alert>
    </div>
{% endblock %}

{% block js %}
    <script>
        var vue = {
            delimiters: ['{', '}'],
            template: `{{ block('body') }}`
        };
    </script>
{% endblock %}