{% use 'layout/menu.vue.twig' %}
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# Icon fonts needed for Vuetify #}
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="app"></div>
        {% endblock %}
        {% block javascripts %}
            {% block pageJs %}
            <script>
                var vuePage = {
                    delimiters: ['{', '}'],
                    template: `{% block pageTemplate %}{% endblock %}`
                };
            </script>
            {% endblock %}
            {% block menuJs %}{{ parent() }}{% endblock %}

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
