{% block js %}
    <script>
        var vue = {
            delimiters: ['{', '}'],
            template: `<div>{{ block('body') }}</div>`,
            created() {
                this.pageData = {{ get_vue_data()|raw }};
            },
            computed: {
                form() {
                    return this.pageData.form || {};
                }
            },
        };
    </script>
{% endblock %}